@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	ul,
	ol {
		list-style: revert;
	}
}

.circle-animation {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	animation: moveCircles 6s ease-in-out infinite;
  }
  
  @keyframes moveCircles {
	0% {
	  transform: translateX(0);
	}
	25% {
		transform: translateX(0vw) translateY(20px);
	}
	50% {
		transform: translateX(20vw) translateY(40px) scale(1.2);
		background-color: orange;
	}
	75% {
		transform: translateX(60vw) translateY(30px);
		background-color: brown;
	}
	85% {
		transform: translateX(100vw) translateY(100px);
		background-color: bisque;
	}
	100% {
		transform: translateX(0vw);
	}
  }
