@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	ul,
	ol {
		list-style: revert;
	}
}

/* .container-post-custom-btn {
	height: "calc(80vh - 60px)" !important;
}

@media only screen and (max-width: 768px) {
	.container-post-custom-btn {
		height: "calc(70vh - 60px)" !important;
	}
} */
