:root {
  --c-primary-50: 231, 88, 40;
  /* Nouvelle couleur principale */
  --c-primary-100: 231, 88, 40;
  /* Nouvelle couleur principale */
  --c-primary-200: 231, 88, 40;
  /* Nouvelle couleur principale */
  --c-primary-300: 231, 88, 40;
  /* Nouvelle couleur principale */
  --c-primary-400: 231, 88, 40;
  /* Nouvelle couleur principale */
  --c-primary-500: 231, 88, 40;
  /* Nouvelle couleur principale */
  --c-primary-600: 231, 88, 40;
  /* Nouvelle couleur principale */
  --c-primary-700: 231, 88, 40;
  /* Nouvelle couleur principale */
  --c-primary-800: 231, 88, 40;
  /* Nouvelle couleur principale */
  --c-primary-900: 231, 88, 40;
  /* Nouvelle couleur principale */

  // SECONDARY COLOR
  --c-secondary-50: 231, 88, 40;
  /* Nouvelle couleur secondaire */
  --c-secondary-100: 231, 88, 40;
  /* Nouvelle couleur secondaire */
  --c-secondary-200: 231, 88, 40;
  /* Nouvelle couleur secondaire */
  --c-secondary-300: 231, 88, 40;
  /* Nouvelle couleur secondaire */
  --c-secondary-400: 231, 88, 40;
  /* Nouvelle couleur secondaire */
  --c-secondary-500: 231, 88, 40;
  /* Nouvelle couleur secondaire */
  --c-secondary-600: 231, 88, 40;
  /* Nouvelle couleur secondaire */
  --c-secondary-700: 231, 88, 40;
  /* Nouvelle couleur secondaire */
  --c-secondary-800: 231, 88, 40;
  /* Nouvelle couleur secondaire */
  --c-secondary-900: 231, 88, 40;
  /* Nouvelle couleur secondaire */

  // NEUTRAL COLOR
  --c-neutral-50: 248, 250, 252;
  --c-neutral-100: 241, 245, 249;
  --c-neutral-200: 226, 232, 240;
  --c-neutral-300: 203, 213, 225;
  --c-neutral-400: 148, 163, 184;
  --c-neutral-500: 100, 116, 139;
  --c-neutral-600: 71, 85, 105;
  --c-neutral-700: 51, 65, 85;
  --c-neutral-800: 30, 41, 59;
  --c-neutral-900: 15, 23, 42;
}

// THEME PALETTE 1 ==========================================
.theme-cyan-blueGrey {
  --c-primary-50: 231, 88, 40;
  /* Nouvelle couleur principale */
  --c-primary-100: 231, 88, 40;
  /* Nouvelle couleur principale */
  --c-primary-200: 231, 88, 40;
  /* Nouvelle couleur principale */
  --c-primary-300: 231, 88, 40;
  /* Nouvelle couleur principale */
  --c-primary-400: 231, 88, 40;
  /* Nouvelle couleur principale */
  --c-primary-500: 231, 88, 40;
  /* Nouvelle couleur principale */
  --c-primary-600: 231, 88, 40;
  /* Nouvelle couleur principale */
  --c-primary-700: 231, 88, 40;
  /* Nouvelle couleur principale */
  --c-primary-800: 231, 88, 40;
  /* Nouvelle couleur principale */
  --c-primary-900: 231, 88, 40;
  /* Nouvelle couleur principale */

  // SECONDARY COLOR
  --c-secondary-50: 231, 88, 40;
  /* Nouvelle couleur secondaire */
  --c-secondary-100: 231, 88, 40;
  /* Nouvelle couleur secondaire */
  --c-secondary-200: 231, 88, 40;
  /* Nouvelle couleur secondaire */
  --c-secondary-300: 231, 88, 40;
  /* Nouvelle couleur secondaire */
  --c-secondary-400: 231, 88, 40;
  /* Nouvelle couleur secondaire */
  --c-secondary-500: 231, 88, 40;
  /* Nouvelle couleur secondaire */
  --c-secondary-600: 231, 88, 40;
  /* Nouvelle couleur secondaire */
  --c-secondary-700: 231, 88, 40;
  /* Nouvelle couleur secondaire */
  --c-secondary-800: 231, 88, 40;
  /* Nouvelle couleur secondaire */
  --c-secondary-900: 231, 88, 40;
  /* Nouvelle couleur secondaire */

  // NEUTRAL COLOR
  --c-neutral-50: 248, 250, 252;
  --c-neutral-100: 241, 245, 249;
  --c-neutral-200: 226, 232, 240;
  --c-neutral-300: 203, 213, 225;
  --c-neutral-400: 148, 163, 184;
  --c-neutral-500: 100, 116, 139;
  --c-neutral-600: 71, 85, 105;
  --c-neutral-700: 51, 65, 85;
  --c-neutral-800: 30, 41, 59;
  --c-neutral-900: 15, 23, 42;
}