@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
//
@import "./_theme_colors";
@import "./_theme_font";
@import "./_theme_custom";
//
@import "./header";


.text-xs {
    font-size: 0.65rem !important;
    line-height: .85rem !important;
}

.text-base {
    font-size: 0.65rem !important;
    line-height: 1.2rem !important;
}

// .text-lg {
//     font-size: 0.75rem !important;
//     line-height: 1.25rem !important;
// }

// .text-xl {
//     font-size: 0.75rem !important;
//     line-height: 1.25rem !important;
// }


@media screen and (max-width: 768px) {

    .text-sm,
    .text-base,
    .text-xs {
        font-size: 0.65rem !important;
        line-height: .85rem !important;
    }
}

// DESKTOP
@media screen and (min-width: 1024px) {

    .text-sm,
    .text-base,
    .text-xs {
        font-size: 0.75rem !important;
        line-height: .75rem !important;
    }

    .text-lg {
        font-size: 1rem !important;
        line-height: 1.5rem !important;
    }
}



// CUSTOM
@media (min-width: 576px) {
    .container {
        max-width: 100% !important;
    }
}

/* Styles pour les barres de défilement */
/* Chrome, Safari, Edge, Opera */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #33333320;
    /* Couleur de fond de la barre de défilement */
}

::-webkit-scrollbar-thumb {
    background: #66666632;
    /* Couleur de la poignée de défilement */
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #66666632 #33333320;
    /* Couleur de la poignée de défilement et de la barre de défilement */
}